.footerLink {
    color: #007bff; /* Bootstrap primary color for demonstration */
    text-decoration: none;
}

.footerLink:hover {
    text-decoration: underline;
}

.logoImage {
    height: 75px;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
}

.logoImage:hover {
    filter: grayscale(100%) brightness(50%);
}